:root {
	/* Canva Pink Sky Color Palette */
	--canva0: #19354d;
	--canva1: #142639;
	--canva2: #a35c6e;
	--canva3: #cb808c;
	--canva4: #e9aab1;

	background: var(--canva0);
	color: var(--canva4);
	font-size: 16px;
	font-family: system-ui, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

header, main, footer {
	max-width: 110ch;
	margin: auto;
	padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	margin-inline: 0;
	margin-block: 1rem 0.5rem;
}

p, ul, ol {
	margin-inline: 0;
	margin-block: 0 1rem;
}

p, li {
	min-width: 45ch;
	max-width: 75ch;
}

a {
	color: var(--canva3);
	text-decoration: none
}

::selection, blockquote {
	background: var(--canva4);
	color: var(--canva0);
}
